.foto-home{
  border-radius: 50%;
}

.titulo-principal{
  position:relative;
  overflow: hidden;
}

.palavras-home{
  position: absolute;
  perspective: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.palavras-home li{
  font-size: 150%;
}

.palavra-home{
  font-family: 'Shadows Into Light', 'Arial', sans-serif;
  color: #D5447E;
  font-weight: bold;
  font-size: 0.75em;
}

.eficiencia {
  transform: rotate(18deg) translateZ(-2px);
  position: absolute;
  top: 20%;
  left: 70%;
}

.boas-praticas{
  position: absolute;
  top: 20%;
  left: 17%;
  transform: rotate(-5px) translateZ(2px);
}

.codigo-limpo{
  position: absolute;
  top: 5%;
  left: 60%;
  transform: translateZ(1px);
}

.css3{
  position: absolute;
  top: 2%;
  left: 25%;
  transform: translateZ(-1px);
}

.html5{
  position: absolute;
  transform: rotate(60deg);
  top: 40%;
  left: 60%;
}

.javascript{
  position: absolute;
  transform: rotate(30deg) translateZ(2px);
  top: 42%;
  left: 27%;
}

.acessibilidade{
  position: absolute;
  transform: rotate(-10deg);
  top: 10%;
  left: 80%;
}

.responsivo{
  position: absolute;
  transform: rotate(15deg) translateZ(1px);
  top: 10%;
  left: 10%;
}

.otimizacoes{
  position: absolute;
  transform: rotate(-5deg) translateZ(-2px);
  top: 35%;
  left: 80%;
}

.agilidade{
  position: absolute;
  transform: rotate(20deg);
  top: 30%;
  left: 5%;
}

.design{
  position: absolute;
  top: 52%;
  left: 75%;
  transform: translateZ(1px);
}

.inicio-post{
  font-size: .75em;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 5em;
  right: 3em;
  height: 7em;
  width: 30em;
  padding: 1em;
  line-height: 1em;
}

.foto-home {
    height: 200px;
}
.saudacao p {
    color: #99A;
    line-height: 1;
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 2em;
}
.saudacao em {
    color: #851944;
    font-size: 3em;
    display: inline-block;
    transform: skew(-10deg) rotate(-5deg);
}

.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 400px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    font-size: .75em;
    padding: .25em;
}

.botao-twitter{
  top: 0;
  right: 0;
  position: absolute;
  background-color: #3C1D3D88;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Open Sans Condensed', sans-serif;
  border: .25em solid black;
  padding: .2em 3em;
  line-height: 1em;
  width: 14em;
  box-sizing: border-box;
  transform-origin: 0 0;
  transform: translate(6.5754em, -2.4749em) rotate(45deg);
}



.container{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.secao-inicio {
  padding: 1.5em;
}

.secao-inicio h2 {
    text-transform: uppercase;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
}
.trabalhos h2 {
    color: #FFF;
    font-size: 1.5em;
}
.trabalhos ul {
    overflow: hidden;
    border: 0.25em solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
    position: relative;
}

.blog h2{
  font-size: 2em;
}

.blog small{
  font-size: 0.75em;
  position: relative;
  top: -1.5em;
}

.blog ol{
  margin-top: .5em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

.blog li {
  width: 33%;
}

.blog li a {
    color: #FCF;
    font-size: 0.75em;
}

.blog .mais-recente{
  background-color: #f2fffc;
}

.blog .mais-recente a{
  color: #f26;
}

footer {
    padding: 2em;
    background-color: #000;
    color: #FFF;
}

footer h2{
  font-size: 2em;
}

footer p{
  font-size: 0.75em;
}

footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
