.portfolio li {
    display: inline-block;
    border: 0.4rem solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
}

.portfolio img {
    width: 100%;
    box-shadow: 0 0 4px #000;
}

.portfolio figcaption{
  height: 6em;
  overflow: hidden;
  text-align: justify;
}
